* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Ubuntu Mono', 'Courier New', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

